/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    padding: 0 1rem; 

}

/* Header */
header{
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}


#menu{
    font-size: medium;
    letter-spacing: 3px;
    list-style-type: none;
    padding: 1rem;
}

.active{
    border-bottom: 1px solid black;
}

/* Main content */
main{
   
    /* Make main element take any surplus space to push Footer down */
    flex: 1 0 auto;
    margin-top: 95px;
}
/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}
#cover-text > h2{
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    font-size: 200%;  
}
/* About section */
.aboutus{
    background-color:black;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: large;  
}
table{
   border-collapse: collapse;
    width: 100%;

}
th, td { 
    padding-bottom: 10px;
    
}

/* Sign up section */
#signup-form{
    padding: 2rem;
}
#signup-image{
    background: url(../images/signup-image.webp) no-repeat bottom center/cover;
    width: 100vw;
    height: 150vw; 
}
 /* contact */
.contact{
    background-color:rgb(247, 236, 210);
  color: #3a3a3a;
  border: 2px solid black;
  text-align: center;
  margin-top: 80px;
  letter-spacing: 3px;
}


/* Footer */
footer{
    background-color: azure;
}
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size: 200%;
    padding: 5%;
    color: black;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav{
       position: relative;
       display: block;
       width: fit-content;
       padding-right: 1rem;
    }
    #menu{
        display: flex;
    }
    #menu > li{
        padding-left: 1rem;
    }
    main{
        margin-top: 47px;
    }
    /* Hero */
    #cover-text > h2{
        width: 500px;
    }
    /* Sign up section */
    #signup-image{
        max-width: 1000px;
        max-height: 600px;
    } 
    /* contact */  
    .contact{
        margin-left: 30px;
        margin-right: 30px;
    } 
    
}
/* Larger devices (Laptops and Desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid black;
    }
}