/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* Header */
header{
    background-color: #ffffff;
    padding: 0 .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}
#menu{
    font-size: medium;
    letter-spacing: 3px;
    list-style-type: none;
}

.active{
    border-bottom: 1px solid black;
}

/* Main content */
main{
    background-color: aquamarine;
    /* Make main element take any surplus space to push Footer down */
    flex: 1 0 auto;
    margin-top: 95px;
}


/* Footer */
footer{
    background-color: azure;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav{
       position: relative;
       display: block;
       width: fit-content;
       padding-right: 1rem;
    }
    #menu{
        display: flex;
    }
    #menu > li{
        padding-left: 1rem;
    }
    main{
        margin-top: 47px;
    }
}